@charset "UTF-8";
/* 1. ABSTRACTIONS (variables, mixins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --main-title-color: #1B1A1A;
  --main-descr-color: #403E3B;
  --second-main-color: #645C55;
}

/* 1. ABSTRACTIONS (variables, mixins) */
/* 2. BASE (resets, typography) */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

/* 3. COMPONENTS (reusable blocks) */
.link {
  padding: 11px 20px;
}

.logo {
  font-size: 24px;
  line-height: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: #000;
}

.logo > span {
  font-weight: bold;
}

.project {
  position: relative;
}

.project__image {
  display: block;
}

.project__text {
  position: absolute;
  top: 266px;
  right: 75px;
  width: 285px;
}

.project__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--main-descr-color);
}

.project__subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--second-main-color);
}

/* ПРОЕКТ - МОДИФИКАЦИЯ */
.project__text--left {
  left: 60px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  padding: 10px 0 20px;
}

.author__avatar {
  width: 84px;
  height: 84px;
}

.author__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  padding: 30px;
  line-height: 18px;
}

.author__name {
  font-size: 17px;
  line-height: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--main-title-color);
}

.author__position {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--second-main-color);
}

/* 4. SECTIONS (page-specific layout) */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  height: 90px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.313rem, -0.301rem + 3.07vw, 2rem); /* min: 5px; max: 32px; vp min: 320px; max: 1200px */
}
.nav__link {
  font-size: clamp(0.5rem, 0.341rem + 0.8vw, 0.938rem); /* min: 8px; max: 15px; vp min: 320px; max: 1200px */
  color: var(--main-title-color);
}
.nav__link--black {
  padding: 11px 20px;
  color: #fff;
  background-color: #000;
  border-radius: 12px;
}
.nav__burger {
  display: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  background-color: #ECE7E4;
}
.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 0 50px;
}
.hero__logo {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--second-main-color);
}
.hero__title {
  font-size: 64px;
  line-height: 69px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--main-title-color);
}
.hero__description {
  max-width: 510px;
  color: var(--main-descr-color);
}
.hero--link {
  color: var(--main-title-color);
}

.statement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  width: 770px;
  margin: 0 auto;
  padding: 100px 0;
}
.statement__title {
  font-size: 32px;
  line-height: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--main-descr-color);
}
.statement__quote {
  width: 493px;
}
.statement__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: var(--main-descr-color);
}

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
.process__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}
.process__title-top {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--second-main-color);
}
.process__title-bottom {
  font-size: 39px;
  line-height: 42px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: #000;
}
.process__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}
.process__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  text-align: center;
  width: 378px;
}
.process__step-icon {
  width: 117px;
  height: 117px;
}
.process__step-title {
  padding: 15px 0 10px;
  font-size: 18px;
  line-height: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--main-descr-color);
}
.process__step-description {
  width: 292px;
  color: var(--second-main-color);
}

.customers {
  background-color: var(--main-descr-color);
}
.customers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 136px;
}
.customers__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  width: 460px;
}
.customers__text-kicker {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ECE7E4;
}
.customers__text-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: #fff;
}
.customers__text-description {
  padding-top: 14px;
  width: 451px;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: #ECE7E4;
}
.customers__logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  padding: 120px 120px 60px;
  background-color: #F7F7F7;
}
.projects__title {
  font-size: 39px;
  line-height: 42px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--main-title-color);
}
.projects__subtitle {
  width: 581px;
  padding: 15px 0 42px;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--second-main-color);
}
.projects__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.projects__image {
  display: block;
  width: 379px;
}
.projects__image-block {
  position: relative;
}
.projects--link {
  position: absolute;
  left: 45px;
  bottom: 40px;
  color: #fff;
  background-color: #1B1A1A;
  border-radius: 15px;
}
.projects a.link {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
.team__text-content {
  width: 379px;
}
.team__title {
  font-size: 32px;
  line-height: 38px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--main-descr-color);
}
.team__description {
  padding: 14px 0 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--second-main-color);
}
.team__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 36px;
  -webkit-column-gap: 114px;
     -moz-column-gap: 114px;
          column-gap: 114px;
}

.get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  padding: 100px 136px;
  background-color: #CEC4BC;
}
.get__text-content {
  width: 578px;
}
.get__kicker {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--second-main-color);
}
.get__title {
  margin-top: -6px;
  font-size: 40px;
  line-height: 42px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--main-title-color);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  padding: 60px 136px;
}
.footer__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: var(--second-main-color);
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}