@use '../abstract/' as *;

.project {
  position: relative;
}

.project__image {
  display: block;
}

.project__text {
  position: absolute;
  top: 266px;
  right: 75px;

  width: 285px;
}

.project__title {
  @include text-formatter(14px, 20px, normal, 2px, uppercase, var(--main-descr-color));
}

.project__subtitle {
  @include text-formatter(16px, 24px, normal, $c: var(--second-main-color));
}

/* ПРОЕКТ - МОДИФИКАЦИЯ */

.project__text--left {
  left: 60px;
}