@use '../abstract/' as *;

.author {
  @include flex-conf($ai: center);

  padding: 10px 0 20px;
}

.author__avatar {
  @include size-same(84px);
}

.author__details {
  @include flex-conf($fd: column);

  padding: 30px;

  line-height: 18px;
}

.author__name {
  @include text-formatter($fz: 17px, $c: var(--main-title-color));
}

.author__position {
  @include text-formatter($fz: 14px, $c: var(--second-main-color));
}